@media (min-width: 1024px) {
  .navbar-collapse{
    display: flex;
    justify-content: flex-end;
    gap: 0 1rem;

    .navbar-nav{
      gap: 0 1rem;

      .nav-link{
        font-size: 1.2rem;
      }
    }
  }
}
