<section class="container">
  <h2 class="text-center">Detalhar do Assinante</h2>
  <div class="row">
    <div class="col-md-4 mt-md-5">
      <figure class="figure justify-content-center align-content-center">
        <img src="/assets/images/user.svg" class="figure-img img-fluid rounded" alt="MAX" height="400" width="400">

        <!--        <div *ngIf="assinante?.imagem != ''; then imagemParam; else imagemDefault"></div>-->
        <!--      <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>-->
      </figure>
      <div class="mt-md-2 total">
        <div class="input-group mb-3">
          <label class="input-group-text" for="total">Total</label>
          <input type="text" class="form-control valor-moeda" id="total" name="total" [ngModel]="assinante?.valor_por_mes | currency:'BRL':'symbol-narrow':'1.2-2'" readonly>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-md-5">
      <form>
        <div class="input-group mb-3">
          <label class="input-group-text" for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" value="{{assinante?.nome}}" readonly>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="email">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" value="{{ assinante?.email }}" readonly>
        </div>

        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">Serviço</th>
            <th scope="col">Total</th>
            <th scope="col">Individual</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let servico of assinante?.plataformas_associadas">
            <td>{{ servico.nome }}</td>
            <td>R$ 0.00</td> <!-- Valor padrão até que os dados específicos estejam disponíveis -->
            <td>R$ 0.00</td> <!-- Valor padrão até que os dados específicos estejam disponíveis -->
          </tr>
          </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-md-5">
          <button type="submit" routerLink="/assinantes" class="btn btn-outline-success">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</section>


<ng-template #imagemParam>
  <img src="{{assinante?.imagem}}" class="figure-img img-fluid rounded" alt="{{assinante?.imagem}}" height="400" width="400">
</ng-template>

<ng-template #imagemDefault>
  <img src="/assets/images/user.svg" class="figure-img img-fluid rounded" alt="MAX" height="400" width="400">
</ng-template>
